@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


.headerLogoCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#logo h1{
    font-family: 'Parisienne';
    font-weight: bold;
    font-size: xx-large;
    position: relative;
}
sub{
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    left: 55px;
    color: rgb(216, 34, 34);
}
#logo{
    width: 200px;
    height: 50px;
    background: #0e0b02a6;
    border-radius: 50%;
    position: absolute;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  